.headline{
    animation-name: headme;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;

}

@keyframes headme {
    0%{
        background-color: aqua;
    }
    50%{
        background-color: blueviolet;
    }
    100%{
        background-color: aqua;
    }
    
}