

.branding{
    columns: 2
}

@media only screen and (min-width: 600px) and (max_width: 1200px){
    .container {
        background-color: rgb(148, 236, 16);
    }
}
}

@media only screen and (max-width: 600px) {
    .container {
        background-color: aqua;
    }
}

